<!-- <span> {{query | json}} </span> -->

<ng-container *ngFor="let r of query.rules; let idx = index">
	<span> 
		( {{ r.operator }}
		( {{ r.value }} 
		<span *ngIf="r.fields && r.fields.length>0">
			<span *ngFor="let f of r.fields; let sidx = index">
				<span *ngIf="f.field == 'lookback' || f.field == 'lookbackmm'">, {{f.value}} </span>
			</span> )
			<span *ngFor="let f of r.fields; let ssidx = index">
				<span *ngIf="f.field == 'operator' || f.field == 'value'"> {{f.value}} </span>
			</span>
		</span> )		
	</span>
	
	<span *ngIf="idx != (query.rules.length-1) || r.condition">		
		<span *ngIf="!r.condition"> {{query.condition}} </span>
		<span *ngIf="r.condition"> {{r.condition}} </span>
	</span>
	
	<span *ngIf="r.condition">
		<app-query [query]="r"></app-query>
	</span>
</ng-container>