.logical-exp {
    white-space: pre-wrap;
    height: 100px;
    overflow: scroll;
    border: 1px solid #ddd;
    background: #ccc;
    margin-bottom: 20px;
}

.querybuilder {
    min-height: 200px;
    height: auto;
}

.form-control {
    display: inline-block;
    width: 90%;
}

.form-col {
    display: inline-block;
    width: 20%;

    &.form-col-inner {
        width: 80px;
    }
}
.exitcode {
    background: #ccc;
}

.w-60px {
    width: 60px;
}

