<div class="modal-header">
  <h4 class="modal-title">Condition builder for success</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-12">
      <label>logical expression for Success</label>
      <div id="logicalexp" class="logical-exp">
        <app-query [query]="query"></app-query>
      </div>
      <!-- <div class="form-group">
        <label for="logicalexpressionInput" class="d-block">logical expression</label>
        <textarea class="form-control w-100">{{query | json}}</textarea>
      </div> -->
    </div>
  </div>

  <div class="querybuilder" ngNoForm>
    <label>Condition builder for success</label>
    <div class="card-body">

      <query-builder id="triggerQuery" [(ngModel)]="query" [config]="config" [allowRuleset]="allowRuleset"
        [allowCollapse]="allowCollapse" [formControl]="queryCtrl">

        <ng-container *queryArrowIcon="let rule; let ruleset; let fields=fields;">
          <img class="collpase-icon" src="assets/images/collapse.png" (click)="onItemChange(rule)">
        </ng-container>

        <ng-container *querySwitchGroup="let rule; let ruleset; let fields=fields;">
          <div *ngIf="ruleset" class="btn-group btn-group-toggle" data-toggle="buttons" aria-label="condition">
            <label class="btn btn-outline-primary btn-sm" [ngClass]="{'active': ruleset.condition == 'and'}">
              <input type="radio" [(ngModel)]="ruleset.condition" name="options" id="option1" autocomplete="off"
                value="and"> And
            </label>
            <label class="btn btn-outline-primary btn-sm" [ngClass]="{'active': ruleset.condition == 'or'}">
              <input type="radio" [(ngModel)]="ruleset.condition" name="options" id="option3" autocomplete="off"
                value="or"> Or
            </label>
          </div>

          <app-query *ngIf="rule.isCollapsed" [query]="rule"></app-query>

        </ng-container>

        <ng-container
          *queryButtonGroup="let rule; let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet">
          <div class="btns">
            <button class="btn btn-outline-primary btn-sm" (click)="addRule()">Add condition</button>
            <button class="btn btn-outline-primary btn-sm ml-2 mr-2" (click)="addRuleSet()">Add group</button>
            <button class="btn btn-link btn-sm" (click)="$event.preventDefault();removeRuleSet()"
              [disabled]="!removeRuleSet">
              Delete</button>
          </div>
        </ng-container>
        <ng-container *queryRemoveButton="let rule; let ruleset; let removeRule=removeRule; let addRule=addRule;">
          <br>
          <div class="btns">
            <button class="btn btn-outline-primary btn-sm" (click)="$event.preventDefault();removeRule(rule)">
              <i class="fa fa-trash" aria-hidden="true"></i></button>
            <button class="btn btn-outline-primary btn-sm ml-2" (click)="$event.preventDefault();addNewRule(query)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </ng-container>

        <ng-container *queryField="let rule; let fields=fields; let changeField=changeField">
          <div class="form-col">
            <label for="typeInput">Type</label><br>
            <select class="form-control" [(ngModel)]="rule.subtype" required id="typeInput" aria-describedby="typeHelp">
              <option value="statusdependency" selected>Status dependency</option>
              <option value="exitcodedependency">Exit code dependency</option>
            </select>
            <small id="typeHelp" class="form-text text-muted d-none">enter type</small>

          </div>
          <div class="form-col">
            <label for="subtypeInput">Sub type</label><br>
            <select id="subtypeInput" class="form-control" [(ngModel)]="rule.field"
              (ngModelChange)="onQueryChanged($event, rule, 'subtype')" required aria-describedby="subtypeHelp">
              <option *ngFor="let field of fields" [ngValue]="field.value">
                {{field.name}}
              </option>
            </select>
            <small id="subtypeHelp" class="form-text text-muted d-none">enter sub type</small>
          </div>


        </ng-container>

        <ng-container *queryOperator="let rule; let operators=operators">
          <div class="form-col">
            <label for="statusInput">Status</label><br>
            <select id="statusInput" class="form-control" [(ngModel)]="rule.operator"
              [ngClass]="{'exitcode': rule.isexitcode}" (ngModelChange)="onQueryChanged($event, rule, 'status')"
              required aria-describedby="statusHelp">
              <option *ngFor="let value of operators" [ngValue]="value">
                {{value}}
              </option>
            </select>
            <small id="statusHelp" class="form-text text-muted d-none">enter status</small>
          </div>
        </ng-container>

        <ng-container *queryInput="let rule; type: 'string'">
          <div class="form-col">
            <label for="operationhhInput">Operation name</label><br>
            <input type="text" id="operationhhInput" class="form-control" [(ngModel)]="rule.value"
              aria-describedby="operationtextHelp" required>
            <small id="operationtextHelp" class="form-text text-muted d-none">enter Operation value</small>
          </div>
        </ng-container>

        <ng-container *queryInput="let rule; let fields=fields; let field=field; let options=options; type: 'category'">
          <div class="form-col">
            <label for="operatiommInput">Operation name</label><br>
            <select id="operatiommInput" [(ngModel)]="rule.value" class="form-control"
              aria-describedby="operationnameHelp">
              <option *ngFor="let opt of options" [value]="opt.value">
                {{ opt.name }}
              </option>
            </select>
            <small id="operationnameHelp" class="form-text text-muted d-none">enter Operation name</small>
          </div>
          <div class="w-100 divider" *ngIf="rule.isfields">&nbsp;</div>
          <div class="form-col form-col-inner" *ngFor="let rule of rule.fields;">
            <label for="operatorInput">{{rule.name}}</label><br>
            <input *ngIf="rule.type == 'string'" type="text" id="operatorInput" class="form-control w-60px"
              [(ngModel)]="rule.value" required aria-describedby="operatorInputHelp">
            <small id="operatorInput" class="form-text text-muted d-none">enter operator value options</small>

            <input *ngIf="rule.type == 'number'" type="number" id="operatornumberInput" class="form-control w-60px"
              [(ngModel)]="rule.value" required aria-describedby="operatornumberHelp"
              (ngModelChange)="validateRule($event, rule)">            
            <small id="operatornumberHelp" class="form-text text-muted d-none">enter operator number options</small>

            <select *ngIf="rule.type == 'category'" id="operatorValue" class="form-control w-60px"
              [(ngModel)]="rule.value" required aria-describedby="operatorValueHelp">
              <option *ngFor="let opt of rule.operators" [value]="opt">{{ opt }}</option>
            </select>
            <small id="operatorValueHelp" class="form-text text-muted d-none">enter look back options</small>
          </div>
          <div>
            <small class="text-danger" *ngIf="errorMsg != ''">{{errorMsg}}</small>          
          </div>
        </ng-container>

      </query-builder>

    </div>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="onCancel()">Cancel</button>
  <button (click)="onConfirm()" [disabled]="queryCtrl.invalid" type="button"
    class="btn btn-outline-primary btn-sm">Save</button>
</div>