.logical-exp {
    white-space: pre-wrap;
    height: 60px;
    overflow: scroll;
    border: 1px solid #ddd;
    background: #ccc;
    margin-bottom: 20px;
}

.form-control {
    display: inline-block;
    width: 90%;
}

.form-col {
    display: inline-block;
    width: 20%;
}

