<div class="modal-header">
  <h4 class="modal-title">Condition builder for success</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-12">
      <div class="logical-exp">
        <app-query [query]="query"></app-query>
      </div>
      <!-- <div class="form-group">
        <label for="logicalexpressionInput" class="d-block">logical expression</label>
        <textarea class="form-control w-100">{{query | json}}</textarea>
      </div> -->
    </div>
  </div>

  <div class="querybuilder" ngNoForm>
    <query-builder id="triggerQuery" [(ngModel)]="query" [config]="config" [allowRuleset]="allowRuleset"
      [allowCollapse]="allowCollapse">
      <ng-container
        *queryButtonGroup="let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet">
        <div class="btn-group" style="margin-left: 50px;">
          <button class="btn btn-outline-primary btn-sm" (click)="addRule()">Add condition</button>
          <button class="btn btn-outline-primary btn-sm" (click)="addRuleSet()">Add Group</button>
          <button class="btn btn-outline-primary btn-sm" (click)="removeRuleSet()" *ngIf="removeRuleSet">
            Delete</button>
        </div>
      </ng-container>
      <ng-container *queryRemoveButton="let rule; let removeRule=removeRule">
        <button class="btn btn-outline-primary btn-sm" (click)="$event.preventDefault();removeRule(rule)">
          <i class="fa fa-trash" aria-hidden="true"></i></button>
      </ng-container>

      <ng-container *queryField="let rule; let fields=fields; let changeField=changeField">
        <!-- {{rule | json}} -->

        <div class="form-col">
          <label for="typeInput">Type</label><br>
          <select class="form-control" [(ngModel)]="rule.subtype" required id="subtypeInput"
            aria-describedby="subtypeHelp">
            <option value="statusdependency" selected>Status dependency</option>
            <option value="exitcodedependency">Exit Code dependency</option>
          </select>
          <small id="subtypeHelp" class="form-text text-muted d-none">enter subtypeHelp.</small>

        </div>
        <div class="form-col">
          <label for="typeInput">Subtype</label><br>
          <select id="alertMetaSelection" class="form-control" [(ngModel)]="rule.field"
            (ngModelChange)="onQueryChanged($event, rule)" required id="fieldInput" aria-describedby="typeHelp">
            <option *ngFor="let field of fields" [ngValue]="field.value">
              {{field.name}}
            </option>
          </select>
          <small id="fieldInput" class="form-text text-muted d-none">enter type.</small>
        </div>





      </ng-container>

      <ng-container *queryOperator="let rule; let operators=operators">
        <div class="form-col">
          <label for="typeInput">status</label><br>
          <select id="alertOperatorSelection" class="form-control" [(ngModel)]="rule.operator"
            [ngClass]="{'exitcode': isexitcode}" (ngModelChange)="onQueryChanged($event, rule)" required
            aria-describedby="statusHelp">
            <option *ngFor="let value of operators" [ngValue]="value">
              {{value}}
            </option>
          </select>
          <small id="statusHelp" class="form-text text-muted d-none">enter status</small>
        </div>
      </ng-container>

      <ng-container *queryInput="let rule; type: 'string'">

        <div class="form-col">
          <label for="typeInput">operation names</label><br>
          <input type="text" id="alertValue" class="form-control" [(ngModel)]="rule.value"
            (ngModelChange)="onQueryChanged($event, rule)" required>
        </div>
      </ng-container>

      <ng-container *queryInput="let rule; let fields=fields; let field=field; let options=options; type: 'category'">
        
        <div class="form-col">
          <label for="typeInput">operation name</label><br>
          <select [(ngModel)]="rule.value" class="form-control" (ngModelChange)="onQueryChanged($event, rule)">
            <option *ngFor="let opt of options" [value]="opt.value">
              {{ opt.name }}
            </option>
          </select>
        </div>
        <br *ngIf="isAddFields">
        <div class="form-col form-col-inner" *ngFor="let rule of rule.fields;">
          <label for="typeInput">{{rule.name}}</label><br>
          <input *ngIf="rule.type == 'string'" type="text" id="alertValue" class="form-control w-60px" [(ngModel)]="rule.value"
            (ngModelChange)="onQueryChanged($event, rule)" required aria-describedby="lookbackHelp">
          <input *ngIf="rule.type == 'number'" type="number" id="alertValue" class="form-control w-60px"
            [(ngModel)]="rule.value" (ngModelChange)="onQueryChanged($event, rule)" required
            aria-describedby="lookbackHelp">
          <select *ngIf="rule.type == 'category'" id="alertMetaSelection" class="form-control w-60px" 
          [(ngModel)]="rule.value"
            (ngModelChange)="onQueryChanged($event, rule)" required id="fieldInput" aria-describedby="typeHelp">
            <option *ngFor="let opt of rule.operators" [value]="opt">
              {{ opt }}
            </option>
          </select>
          <small id="lookbackHelp" class="form-text text-muted d-none">enter type.</small>
        </div>

      </ng-container>

    </query-builder>



    <!-- <query-builder [(ngModel)]='query' [config]='currentConfig' [allowRuleset]='allowRuleset'
      [allowCollapse]='allowCollapse'>
      <ng-container
        *queryButtonGroup="let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addRule()">
          Add condition</button>
        <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="addRuleSet" (click)="addRuleSet()">
          Add Group
        </button>
        <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="removeRuleSet" (click)="removeRuleSet()">
          Delete
        </button>
      </ng-container>
      <ng-container *queryArrowIcon>
        <i class="fa fa-arrow-right"></i>
      </ng-container>
    </query-builder> -->
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onConfirm()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
</div>